{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="flex justify-between">
            <h2 class="text-4xl font-bold">Home</h2>
        </div>
        <!-- <h3 class="text-2xl font-bold my-5 mt-10">Profile</h2> -->
        <div class="container flex flex-col gap-5 mt-10">
            <div class="flex gap-5">
                <div class="basis-1/2 p-6 bg-white rounded-xl flex items-center">
                    <img class="h-7 w-7 mr-5" src="https://avatars.dicebear.com/api/identicon/20.svg">
                    <div class="grow">
                        <p class="font-medium text-2xl">Users</p>
                        <p>You can perform CRUD</p>
                    </div>
                    <a href="{% url 'app_admin:user_list' %}" class="self-start">
                        <img class="w-5 h-5" src="{% static 'app_admin/link_img.png' %}">
                    </a>
                </div>
                <div class="basis-1/2 p-6 bg-white rounded-xl flex items-center">
                    <img class="h-7 w-7 mr-5" src="https://avatars.dicebear.com/api/identicon/40.svg">
                    <div class="grow">
                        <p class="font-medium text-2xl">Facilities</p>
                        <p>You can perform CRUD</p>
                    </div>
                    <a href="{% url 'app_admin:facility_list' %}" class="self-start">
                        <img class="w-5 h-5" src="{% static 'app_admin/link_img.png' %}">
                    </a>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="basis-1/2 p-6 bg-white rounded-xl flex items-center">
                    <img class="h-7 w-7 mr-5" src="https://avatars.dicebear.com/api/identicon/90.svg">
                    <div class="grow">
                        <p class="font-medium text-2xl">Patients</p>
                        <p>You can perform CRUD</p>
                    </div>
                    <a href="{% url 'patient:patient_list' %}" class="self-start">
                        <img class="w-5 h-5" src="{% static 'app_admin/link_img.png' %}">
                    </a>
                </div>
                <div class="basis-1/2 p-6 bg-white rounded-xl flex items-center">
                    <img class="h-7 w-7 mr-5" src="https://avatars.dicebear.com/api/identicon/440.svg">
                    <div class="grow">
                        <p class="font-medium text-2xl">Profile</p>
                        <p>Check and update your data</p>
                    </div>
                    <a href="{% url 'app_admin:profile_page' %}" class="self-start">
                        <img class="w-5 h-5" src="{% static 'app_admin/link_img.png' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <h3 class="text-3xl font-bold">Credentials</h3>
            <div class="flex gap-5 mt-5">
                <div class="basis-1/2 p-6 pt-3 bg-white rounded-xl flex items-center">
                    <div class="grow">
                        <p class="font-medium text-2xl text-center">Admin</p>
                        <p>
                            <span class="font-semibold">Username: </span>
                            <span>ravi@ravi.com</span>
                        </p>
                        <p>
                            <span class="font-semibold">Password: </span>
                            <span>ravi</span>
                        </p>
                    </div>
                </div>
                <div class="basis-1/2 p-6 pt-3 bg-white rounded-xl flex items-center">
                    <div class="grow">
                        <p class="font-medium text-2xl text-center">Nurse</p>
                        <p>
                            <span class="font-semibold">Username: </span>
                            <span>amit@amit.com</span>
                        </p>
                        <p>
                            <span class="font-semibold">Password: </span>
                            <span>www@www5</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-6">
            <h3 class="text-3xl font-bold">About</h3>
            <div class="flex gap-5 mt-5">
                <div class="basis-1/2 px-6 py-2 bg-white rounded-xl flex items-center">
                    <div class="grow">
                        <p class="text-center">
                            <span class="font-semibold">Developer: </span>
                            <span>Ravinder Singh</span>
                        </p>
                        <p class="flex justify-around mt-4 mb-2">
                            <a href="https://www.linkedin.com/in/ravindermaan/" class="text-white rounded-full bg-fuchsia-700 px-2" target="_blank">LinkedIn</a>
                            <a href="https://github.com/Khiladi2020/" class="text-white rounded-full bg-cyan-700 px-2" target="_blank">Github</a>
                            <a href="https://drive.google.com/file/d/1LMkKt7v-4HB7eNSgIJsyu83mzE4ZsF0B/view?usp=sharing" class="text-white rounded-full bg-orange-700 px-2" target="_blank">Resume</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}