<!-- Define URLS -->
{% url 'patient:patient_list' as patient_url %}
{% url 'home_page' as home_url %}
{% url 'app_admin:facility_list' as facility_url %}
{% url 'app_admin:user_list' as user_url %}
{% url 'app_admin:profile_page' as profile_url %}
{% url 'patient:schedule_list' as schedule_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arike</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>
    <div class="main_app h-screen flex flex-row">
        <!-- Sidebar -->
        <div class="basis-1/4 flex flex-col p-3">
            <!-- Brand -->
            <div>
                <h1 class="text-3xl font-bold ml-2">Arike</h1>
            </div>
            <!-- Navigation -->
            <nav class="grow flex flex-col p-2 py-4">
                <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if request.path == home_url %} text-white bg-black {% endif %}" href="{{home_url}}">Home</a>
                {% if user.is_authenticated and user.role == "district_admin" %}
                    <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if facility_url in request.path %} text-white bg-black {% endif %}" href="{{facility_url}}">Facility</a>
                    <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if user_url in request.path %} text-white bg-black {% endif %}" href="{{user_url}}">Users</a>
                {% endif %}
                <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if patient_url in request.path and schedule_url not in request.path %} text-white bg-black {% endif %}" href="{{patient_url}}">Patients</a>
                <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if schedule_url in request.path %} text-white bg-black {% endif %}" href="{{schedule_url}}">Schedule</a>
                <a class="hover:bg-black hover:text-white my-1 p-3 pl-4 rounded-xl {% if profile_url in request.path %} text-white bg-black {% endif %}" href="{{profile_url}}">Profile</a>
            </nav>
            <!-- User -->
            <div class="border-t-2 border-black flex items-center py-2">
                {% if user.is_authenticated %}
                <img class="h-10 w-10 rounded-full"
                    src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?t=st=1646297009~exp=1646297609~hmac=c27dc13388a3c6e94f089242b641cd9315c087c7e410346b2e151a41e6f7775d&w=740" />
                <div class="ml-6">
                    <p class="text-lg font-medium">{{user.fullname}}</p>
                    <p class="text-sm">
                        <a href="{% url 'auth_logout' %}" class="text-blue-400">Logout</a>
                    </p>
                </div>
                {% else %}
                <div class="grow text-center">
                    <a href="{% url 'auth_login' %}" class="text-blue-400">Login</a>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Page Content -->
        <main class="grow bg-slate-200 p-6 overflow-y-auto">
            {% block content %} {% endblock %}
        </main>
    </div>
</body>

</html>