{% extends "base.html" %}

{% block content %}
    <div class="flex justify-between items-center">
        <h1 class="text-4xl font-bold">Disease History</h1>
        <a href="create/">
            <span class="inline-block rounded-md border-2 border-black cursor-pointer px-5 py-1 bg-black text-white">Add</span>
        </a>
    </div>
    <section class="mt-6">
        <h2 class="text-2xl font-medium">{{patient.full_name}}</h2>
        <p>{{patient.address}}</p>
    </section>
    <section class="mt-10">
        <ul class="grid grid-cols-2 gap-6">
            {% for disease in patientdisease_list %}
                <li>
                    <div class="h-full p-3 bg-white rounded-xl">
                        <h3 class="text-xl font-medium">{{disease.disease.name}}</h3>
                        <p>{{disease.note}}</p>
                        <!-- Footer -->
                        <div class="mt-4 flex justify-end gap-2">
                            <a href="#">
                                <span class="inline-block rounded-md border-2 border-black cursor-pointer px-5 py-1">Delete</span>
                            </a>
                            <a href="{% url 'patient:patientdisease_update' disease.patient.id disease.id %}">
                                <span class="inline-block rounded-md border-2 border-black cursor-pointer px-5 py-1 bg-black text-white">Edit</span>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}